body{
}

main{
width:90%;
margin:auto;
}

nav{
  background-color: #00DE6D;
  display:flex;
  justify-content: center;
}

p {
  font-family: 'Open Sans', sans-serif;
}

ul{
  list-style: none;
  justify-content:center;
  width: 100%;
  margin: 0%;
  padding: 1%;
}

li{
  background-color:#9CFFAD;
  color:#1B222B;
  justify-content: center;
  padding: 1%;
  margin:1% 0%;
}

a{
  text-decoration: none;
  color:#1B222B;
  font-size: 1.5em;
}

.container {
  width:10%;
  margin-left: 1%;
  align-self: center;
}
#profile {
  width: 100%;
  border: #1b222b;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
}

footer{
  background-color:#00DE6D;
}
#menu{
  width:1.7em;
}

.main-nav{
  display:none;
}

.pURL{
  font-size:1em;
}

a img{
  width:2em;
  border-radius:0px;
}

#social a {
  font-size:.8em;
  display:block;
}

#social {
  margin:1%;
}

#top {
  background-color:#00DE6D;
  /*position:absolute;*/
  display: flex;
  justify-content: space-between;
}

#title{
  color:#592684;
  font-family: 'Overlock SC', cursive;
}

#top h1{
  margin:0px;
  padding:1%;
  font-family: 'Overlock SC', cursive;'
  color:#1B222B;
  align-self: center;
  font-size: 2.6em;
}

@media only screen and (min-width: 640px) and (max-width:1024px){
  #menu{
    display:none;
  }
  .main-nav{
    display:flex;
  }
  #top h1{
    font-size:5em;
  }
  nav li{
    display:inline;
  }
}

@media only screen and (min-width: 1025px){
  #menu{
    display:none;
  }
  .main-nav{
    display:flex;
  }
  #top h1{
    font-size:8em;
  }

  nav li{
      display:inline;
  }
}
