{% extends "base.jinja2" %}
{%block content%}
<h1>Edit Entry</h1>
<form>
<h3>Title:</h3>
<input name="title">
<h3>Content:</h3>
<input name="text">
<input type="submit" value="Submit">
</form>
<a href="/">HOME</a>
{%endblock content%}