<!DOCTYPE html>
<html>
    <head>
        <title>Learning Journal</title>
    </head>
    <body>
        <header></header>
        <h1>List</h1>
        {% block content %}
        {% endblock content %}
    </body>
</html>
