<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "../static/theme.css">
        <title>Learning Journal</title>
    </head>
    <body>
        <header></header>
        <nav>
            <a href="/">HOME</a>
            <a href="/new">NEW ENTRY</a>
        </nav>
        <h1>List</h1>
        {% block content %}
        {% endblock content %}
    </body>
</html>
