<!DOCTYPE html>
<html>
    <!DOCTYPE html>
<html>
    <head>
        <title>Entry</title>
    </head>
    <body>
        <header></header>
        <h1>Entry</h1>
        {% block list %}
        {% endblock list %}
    </body>
</html>